:root {
	--hintergrund: url('Plattform.jpg');
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Ubuntu, 'Noto Sans', sans-serif;
	line-height: 1.6;
	font-size: 1.4rem;

	background-image: var(--hintergrund);
	background-size: cover;
	background-attachment: fixed;
}

@media print {
	body {
		background-image: none;
		font-size: 1rem;
	}
}

main {
	max-width: 65rem;
	margin: 0 auto;
	background-color: #fff9;
	border-radius: 1em;
	padding: 1rem;
}

td {
	padding: 0.5rem;
}

tr {
	background-color: #cfc6;
}

tr:nth-child(even) {
	background-color: #ada6;
}

img {
	width: 100%;
}

em {
	font-weight: 600;
}

.erfolge-0 {
	background-color: #f66;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-1 {
	background-color: #fc0;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-2 {
	background-color: #0f0;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-3 {
	background-color: #99f;
	border-radius: 0.3rem;
	padding: 0 0.3rem;
}

.eigenschaft {
	color: #363;
	background-color: #cfc;
	border-radius: 0.3rem;
	padding: 0.3rem;
	font-weight: normal;
}

.beispiel {
	font-style: italic;
	border-radius: 0.5rem;
	color: #336;
	background-color: #ccf;
	padding: 0.5rem;
}

.rede {
	font-style: italic;
	border-radius: 0.5rem;
	color: #336;
	background-color: #ccf;
	padding: 0.5rem;
}

.herausforderung {
	border-radius: 0.5rem;
	color: #363;
	background-color: #cfc;
	padding: 0.5rem;
}

.freundschaft {
	border-radius: 0.5rem;
	color: #933;
	background-color: #fcc;
	padding: 0.5rem;
}

.aktion {
	border-radius: 0.5rem;
	color: #e90;
	background-color: #fec;
	padding: 0.5rem;
}

.abenteuer > h2:nth-of-type(n+2) {
	page-break-before: always;
}
