:root {
	--hintergrund: url('Plattform.webp');
	--farbe: hsl(150, 33%, 20%);
	--farbe-hell: hsl(150, 33%, 30%);
}

@font-face {
	font-family: 'Wood Stamp';
	src: url('WoodStamp.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Ubuntu, 'Noto Sans', sans-serif;
	line-height: 1.6;
	font-size: 1.4rem;
	margin: 0;

	background-image: linear-gradient(#ffc6, #ffc6), var(--hintergrund);
	background-size: cover;
	background-attachment: fixed;
}

@media print {
	body {
		background-image: none;
		font-size: 1rem;
	}
}

header {
	color: var(--farbe);
	background-color: #ffec;
	padding: 0 1rem 0 0;
	margin: 0 0 1rem 0;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header div {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

a {
	color: var(--farbe);
}

a:visited {
	color: #442;
}

/* also set SVG color */

header img {
	width: 6rem;
	vertical-align: bottom;
	padding: 0.5rem;
}

div.title {
	margin: 0;
	text-align: center;
	text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.6);
	font-size: 20vw;
	font-family: 'Wood Stamp', sans-serif;
	color: var(--farbe);
}

h1 {
	font-size: 7rem;
	margin: 0;
	font-family: 'Wood Stamp', sans-serif;
	color: var(--farbe);
}

h2 {
	color: #ffe;
	border-radius: 0.5rem;
	padding: 0 1rem;
	background-color: var(--farbe-hell);
}

h3 {
	color: var(--farbe-hell);
}

h4 {
	margin: 0;
	color: var(--farbe-hell);
}

button,
select {
	font-size: 1.4rem;
	padding: 1rem 2rem;
}

main {
	max-width: 65rem;
	margin: 0 auto;
	background-color: #ffec;
	border-radius: 1rem;
	padding: 1rem;
}

td {
	padding: 0.5rem;
}

tr {
	background-color: #cfc6;
}

tr:nth-child(even) {
	background-color: #ada6;
}

table {
	display: block;
	overflow-x: auto;
}

img {
	width: 100%;
}

em {
	font-weight: 600;
}

nav {
	font-size: 1rem;
	background-color: #ffec;
	border-radius: 0.5rem;
	padding: 0.5rem;
	top: 6rem;
	left: 1rem;
}

nav ul {
	padding-left: 1rem;
}

@media screen and (min-width: 100rem) {
	nav {
		position: fixed;
		width: 15rem;
		overflow-y: auto;
		max-height: calc(100vh - 6rem - 1rem);
	}
}

.erfolge-0 {
	background-color: #f66;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-1 {
	background-color: #fc0;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-2 {
	background-color: #0f0;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.erfolge-3 {
	background-color: #99f;
	border-radius: 0.3rem;
	padding: 0 0.3rem;
}

.liste {
	font-size: 70%;
}

.fertigkeit {
	color: #363;
	background-color: #cfc;
	border-radius: 0.3rem;
	padding: 0.3rem;
	font-weight: normal;
}

.beispiel:before {
	content: '✍️ ';
}

.beispiel {
	font-style: italic;
	border-radius: 0.5rem;
	color: #336;
	background-color: #ccf;
	padding: 0.5rem;
}

.rede {
	font-style: italic;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-left: 2rem;
}

.rede:before {
	content: "💬 «";
}

.rede:after {
	content: "»";
}

.herausforderung:before {
	content: '🎲 ';
}

.herausforderung {
	border-radius: 0.5rem;
	color: #363;
	background-color: #cfc;
	padding: 0.5rem;
}

.freundschaft:before {
	content: '💗 ';
}

.freundschaft {
	border-radius: 0.5rem;
	color: #933;
	background-color: #fcc;
	padding: 0.5rem;
}

.aktion {
	border-radius: 0.5rem;
	color: #e90;
	background-color: #fec;
	padding: 0.5rem;
}

.tipp:before {
	content: '💡 ';
}

.tipp {
	font-style: italic;
	border-radius: 0.5rem;
	color: #e90;
	background-color: #fec;
	padding: 0.5rem;
}

.abenteuer>h2:nth-of-type(n+2) {
	page-break-before: always;
}

/* hilfreich -> optional, noch ein prefix dass es eine art lesehinweis ist */

.wichtig {
	border-left: 0.2rem solid #6a09;
	padding-left: 1rem;
}

.hilfreich {
	border-left: 0.2rem solid #fa09;
	padding-left: 1rem;
}

@media print {
	.wichtig {
		border-left: 0;
		padding-left: 0;
	}

	.hilfreich {
		border-left: 0;
		padding-left: 0;
	}
}